#jsz-welcome-screen {
	width: 100%;
	height: calc(100vh - 56.5px);
	// margin-top: 56.5px;
	font-size: 26px;
}

.jsz-blue-letter {
	color: $jsz-light-blue;
}

#jsz-name {
	font-size: 2em;
	font-weight: 900;
}

#jsz-desc {
	font-size: 4em;
	font-weight: 900;
}

#jsz-welcome-text {
	width: fit-content;
	position: relative;
	top: 30%;
}

#jsz-welcome-img {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
	background-image: url(../assets/welcome.jpg);
}

@media only screen and (max-width: 720px) {
    #jsz-welcome-img {
		width: 100%;
	}
	#jsz-welcome-screen {
		font-size: 18px;
	}
}

@media only screen and (max-width: 500px) {
	#jsz-welcome-screen {
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	#jsz-welcome-screen {
		font-size: 12px;
	}
}